template(name="fonts")
  h1.roboto-condensed-light Condensed Light
  h1.roboto-condensed-regular Condensed Regular
  h1.roboto-thin Thin
  h1.roboto-light Light
  h1.roboto-regular Regular
  h1.roboto-italic Italic
  h1.roboto-medium Medium
  h1.roboto-bold Bold
  h1.roboto-bold-italic Bold Italic
  h1.roboto-black Black
  p.roboto-regular  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, aperiam, enim quam, tempore quia laudantium aut saepe perferendis quaerat incidunt, facilis consectetur odit quo eos architecto? Molestiae iusto iste, magni veritatis aspernatur at eum atque magnam saepe placeat autem officia omnis ipsa deleniti ullam. Voluptas culpa tempora iste ducimus deserunt.
